
<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href="cv.css"/>

<title>CV</title>
			<div id="header">
	        <p id="name">Daniel Duspiwa</p>
			<a href="mailto:you@yourdomain.com"><p id="email">Contactez moi ici</p></a>
	</div>		
	</head>
	
	
	<body>

	    <div class="right">
	    <h4>Objectif</h4>
	    <p>Devenir un programmateur professionnel</p>
	    <h4>Experience</h4>
	    <ul>
	        <li><p>Apprentissage intensif dans l'ecole Codeacademy</p></li>
	        <li><p>Travaille chez <a href="https://publika.herokuapp.com/"><p id="label">Publica Records</a></p></li>
	        <li><p>Professeur particulier: Pr. Dr. Strobl</p></li>
	    </ul>
    	<h4>Competences</h4>
    	<ol>
	        <li><p>Html</p></li>
	        <li><p>CSS</p></li>
	        <li><p>Ruby on Rails</p></li>
	        <li><p>Ruby</p></li>
	    
	    </ol>
	    </div>
	
	<div class="left">
	<h5>Travaux effectues</h5>
	
	<a href="https://publika.herokuapp.com/"><p id="label">Publica Records</a>
	<a href="https://mycurriculumvitae.herokuapp.com/"><p id="label">Curiculum Vitae</a>
	
	
	</div>
	
	<div id "footer">
	<p>65 Kopenhagener str, Berlin, 10437 Deutschland</p>
	</div>
	
	    
	</body>
</html>